*~
*.swp
*.autosave
*.d
*.o
*.a
*.la
*.lo
.deps
.libs
08_xsevci44_xkidon00.tar.gz

.project
.cproject

stats/*.png
stats/vehicle_generator
stats/usek_load
stats/exit_load
stats/speedway
stats/accident_test
